.sidebar,
.hide-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
}

.color-theme {
    background: #31353D;
}

.sidebar {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -290px;
    z-index: 999;
    overflow-y: auto;
}

.sidebar-logo #hide-sidebar {
    font-size: 32px;
    position: absolute;
    color: #717884;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;
}

.sidebar-menu {
    padding-bottom: 20px;
}

.sidebar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.sidebar-menu ul li {
    padding-top: 15px;
    cursor: pointer;
}

.sidebar-menu i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color: #B8BFCE;
    background: #3a3f48;
}

.sidebar-menu span {
    color: #818896;
}

#create-playlist {
    margin-top: 130px;
    margin-bottom: 15px;
}

.content {
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    position: relative;
}

.content #open-sidebar i {
    font-size: 38px;
    cursor: pointer;
}

.content input {
    width: 50%;
}

.content #show-sidebar {
    font-size: 32px;
    cursor: pointer;
}

#player {
    margin-top: 50px;
}

#player h2 {
    font-weight: 600;
    font-size: 28px;
}

.tbl-responsive {
    overflow-y: auto;
    max-height: calc(100vh - 350px);
}
.table{
    position: relative;
}
.table thead{
    border: black solid 1px !important;
    position: sticky;
    top: 0;
}

.table th {
    color: white !important;
    border: none !important;
}

.table tr td {
    border: black solid 1px;
}

.table tbody {
    background: rgba(255, 255, 255, 0.6) !important;
}

.table tbody tr td i:hover {
    color: #b8bfce;
    cursor: pointer;
}

.sidebar-menu ul li:hover a i,
.sidebar-menu ul li a:hover {
    color: #16c7ff;
}

.sidebar-menu ul li:hover a span,
.sidebar-menu ul li a:hover {
    color: #b8bfce;
}

#controller {
    width: 100%;
    padding-bottom: 30px;
    position: fixed;
    bottom: 0;
    padding-right: 70px;
    padding-left: 10px;
}

#controller i {
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding: 15px;
}

#controller i:hover {
    color: #b8bfce;
}

#progress_bar {
    background: #b8bfce;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    padding: 0;
}

#progress {
    background: #31353D;
    width: 35%;
    height: 100%;
    border-radius: 5px;
    padding: 0;
}

#pointer {
    height: 18px;
    width: 18px;
    border-radius: 18px;
    position: absolute;
    left: calc(35% - 17px);
    background: #31353D;
}

.modal-header {
    padding: 10px 20px !important;
    color: white !important;
}

.modal-header h5 {
    font-size: 24px;
    font-weight: 600;
}

.modal-body {
    padding: 25px 20px 0px 20px !important;
}

.modal-body .drag-drop {
    width: 100% !important;
    min-height: 150px !important;
    background: #C6CCD8 !important;
    color: #70737A !important;
}

.modal-body #playlist_name {
    width: 100%;
    height: 50px;
    background: #C6CCD8;
    border: 1px solid #A8AEB9;

}

.modal-footer {
    padding: 20px !important;
    color: white !important;
    border: none !important;
}

.modal-footer button {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #31353D;
}

.modal-footer .pos {
    margin-right: 10px !important;
    background: #31353D !important;
    color: white !important;
}

.modal-footer .neg {
    color: #31353D;
}

.showSidebar {
    left: 0;
}




@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 576px) and (max-width: 767.99px) {}

@media (min-width: 992px) {
    .sidebar {
        left: 0;
    }

    .content {
        padding-left: 290px;
    }

    #player {
        margin-top: 100px;
    }

    #controller {
        padding-right: 330px;
    }

    .content input {
        width: 30%;
    }

    .mymodal-content {
        width: 45%;
    }
}
