<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/dropzone.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Music Player</title>
</head>

<body>
    <div id="app">
        <div class="sidebar color-theme" :class="{showSidebar: sidebarToggled}">
            <div class="sidebar-logo">
                <i class="fas fa-window-close d-lg-none d-block" id="hide-sidebar" @click="hideSidebar"></i>
                <img src="img/logo.png" class="img-fluid p-5" alt="Music Logo">
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li @click="adjustModal('upload')">
                        <a>
                            <i class="fas fa-cloud-upload-alt"></i>
                            <span>Upload Music</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fas fa-music"></i>
                            <span>All Songs</span>
                        </a>
                    </li>
                </ul>

                <ul id="create-playlist">
                    <li @click="adjustModal('create')">
                        <a>
                            <i class="fas fa-folder-plus"></i>
                            <span>Create Playlist</span>
                        </a>
                    </li>
                </ul>
                <ul id="playlist">
                    <li v-for="playlist in playlists">
                        <a>
                            <i class="fas fa-list-ul"></i>
                            <span>{{playlist.playlist}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid px-0 h-100">
                <div id="show-sidebar" class="d-lg-none d-block"><i class="fas fa-bars" @click="showSidebar"></i></div>
                <input class="fomr-control mt-4 p-1 pl-2" placeholder="Search">
                <div id="player">
                    <h2>
                        {{headerText}}
                    </h2>
                    <div class="table-responsive tbl-responsive">
                        <table class="table">
                            <thead class="color-theme">
                                <tr>
                                    <th> </th>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Album</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="song in songs">
                                    <td class="text-center"><i class="fas fa-play"></i></td>
                                    <td>{{song.title}}</td>
                                    <td>{{song.artist}}</td>
                                    <td>{{song.album}}</td>
                                    <td>{{song.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="controller">
                <div class="d-flex align-items-center position-relative">
                    <div id="pointer"></div>
                    <div id="progress_bar">
                        <div id="progress"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <i class="fas fa-backward"></i>
                    <i class="fas fa-play"></i>
                    <i class="fas fa-forward"></i>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="upload-create-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header color-theme">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalHeader}}</h5>
                    </div>
                    <div class="modal-body">
                        <div v-show="modalName=='upload'">
                            <div class="d-flex align-items-center justify-content-center">
                                <form action="/file-upload" class="dropzone drag-drop" id="dragDropUpload">
                                    <div class="dz-message" data-dz-message><span>Drag and drop files here</span></div>
                                    <div class="fallback">
                                        <input name="file" type="file" multiple />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <input type="text" id="playlist_name" v-show="modalName=='create'">


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="pos">{{modalButton}}</button>
                        <button type="button" class="neg" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="js/dropzone.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body></html>
