body {
    background: url('../images/admin-bldg%201.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left {
    background: url('../images/left-bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100vh;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
}

.right {
    height: 100vh;
    width: 42%;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.nav span {
    color: rgba(0, 0, 128, 1);
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    padding: 25px 30px;
    margin: 30px 0;
}

.nav span:hover {
    cursor: pointer;
    background: rgba(218, 170, 47, 1);
    border-radius: 5px;
    color: white;
}

.form-con {
    width: 434px;
    height: 537px;
    background: rgba(0, 0, 128, 0.8999999761581421);
    opacity: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: auto;
}
#register{
    height: 570px;
}
.form-con p {
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.form-con form {
    padding: 35px;
}

.form-con form label {
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-con form input {
    width: calc(100% - 34px);
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    padding: 0px 15px;
    font-size: 16px;
}

.form-con form input:focus {
    outline: none;
}

.form-con button {
    width: 100%;
    height: 46px;
    background: rgba(218, 170, 47, 1);
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
}

.form-con button:hover,
.form-con div:hover {
    cursor: pointer;
    color: black;
}

.form-con form div {
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.icons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icons img {
    padding: 0 8px;
    width: 100%;
}

@media (max-width:1080px) {
    .form-con {
        width: 360px;
        height: 537px;
    }

}
@media (max-width:960px) {
    .form-con {
        width: 300px;
        height: 537px;
    }

}
@media (max-width:768px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .nav span {
        font-size: 18px;
        padding: 10px 30px;

    }

    .form-con {
        width: 60%;
        height: 60%;
    }

    .form-con form {
        padding: 30px;
    }

    .form-con p {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .form-con form label {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .form-con button {
        height: 36px;
        font-size: 16px;
        margin-top: 10px;
    }

    .form-con form div {
        font-size: 12px;
        margin-top: 10px;
    }

    .form-con form input {
        height: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
        padding: 0px 15px;
        font-size: 14px;
    }

    .icons img {
        padding: 0 6px;
        width: 40px;
    }
}

@media (max-width:480px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .nav span {
        font-size: 18px;
        padding: 10px 30px;
    }

    .form-con {
        width: 85%;
        height: 60%;
    }

    .form-con form {
        padding: 30px;
    }

    .form-con p {
        font-size: 24px;
        margin-top: 25px;
        margin-bottom: 0px;
    }

    .form-con form label {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .form-con button {
        height: 36px;
        font-size: 16px;
        margin-top: 10px;
    }

    .form-con form div {
        font-size: 12px;
        margin-top: 10px;
    }

    .form-con form input {
        height: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
        padding: 0px 15px;
        font-size: 14px;
    }

    .icons img {
        padding: 0 6px;
        width: 40px;
    }
}

@media (max-width:320px) {
    .form-con {
        width: 90%;
        height: 65%;
    }

}
